<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sport's store</title>
    <link rel="stylesheet" 
          asp-href-include="~/twitter-bootstrap/css/bootstrap.min.css"
          asp-href-exclude="~/twitter-bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" asp-href-include="~/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="icon" href="/misc//running.png"/>
    <style>
        .container2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;
        }

        .paddin_style{
            padding: 5px;
            text-decoration:none;
            background-color: transparent;
            color:white
        }

    </style>
</head>
<body style="background-color: #EEF0EB; min-height: 100vh; display: flex; flex-direction: column;">
    <nav class="navbar sticky-top navbar-dark bg-dark" role="navigation">
        <div>
            <a class="col navbar-brand" style="margin-left:25px;font-family:  'Storm Gust'; font-style: italic" href="#">South Yard</a>
        </div>
        <div class="col-2 text-end " style="margin-right: 20px">
            @await Component.InvokeAsync("ShoppingCartSummary")
        </div>
    </nav>
    @{ if ((ViewContext.View).Path.Contains("List.cshtml"))
        {
            <div class="text-center">
                <div style="margin-left: auto; margin-right: auto; width: 1300px; height: 500px">

                    <img style="width: 1200px; height: 500px" src="~/misc/bannernike.png" />
                </div>
            </div>
        }
    }

    <div class="row m-1 p-1">
        <section style="width:1200px;margin-left:auto;margin-right:auto;">
            <div style="display:flex">
                <div id="categories" class="col-auto" style="margin-top:37.5px">
                    <div class="">
                        @await Component.InvokeAsync("NavigationMenu")
                    </div>
                </div>
                <div class="col" style="margin-top:25px">
                    @RenderBody()
                </div>
            </div>
        </section>
    </div>
    <footer style="background-color: #223843;margin-top:auto;">
            <div class="container2" style="justify-content:center">
                <div style="color:white;padding: 25px; display: flex; justify-content: center">
                    <div style="width:250px;">
                        <div style="justify-content:center;color:white;display:grid;padding:10px;">
                            <h5 class="paddin_style">Header</h5>
                            <a href="#" class="paddin_style aa">Some link 1</a>
                            <a href="#" class="paddin_style aa">Some link 2</a>
                            <a href="#" class="paddin_style aa">Some link 3</a>
                            <a href="#" class="paddin_style aa">Some link 4</a>
                        </div>
                    </div>
                    <div style=" width: 250px; ">
                        <div style="justify-content:center;color:white;display:grid;padding:10px;">
                            <h5 class="paddin_style">Header</h5>
                            <a href="#" class="paddin_style aa">Some link 1</a>
                            <a href="#" class="paddin_style aa">Some link 2</a>
                            <a href="#" class="paddin_style aa">Some link 3</a>
                            <a href="#" class="paddin_style aa">Some link 4</a>
                        </div>
                    </div>
                    <div style=" width: 250px; ">
                        <div style="justify-content:center;color:white;display:grid;padding:10px;">
                            <h5 class="paddin_style">Header</h5>
                            <a href="#" class="paddin_style aa">Some link 1</a>
                            <a href="#" class="paddin_style aa">Some link 2</a>
                            <a href="#" class="paddin_style aa">Some link 3</a>
                            <a href="#" class="paddin_style aa">Some link 4</a>
                        </div>
                    </div>
                </div>
            </div>
        <div style="color:white;justify-content:center;padding-bottom:5px;" class="text-center">
            <div style="display:inline-flex">
                <h10><a>© SouthYard 2022</a></h10>
            </div>
        </div>
    </footer>
</body>

</html>
