<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sport's store</title>
    <link rel="stylesheet" 
          asp-href-include="~/twitter-bootstrap/css/bootstrap.min.css"
          asp-href-exclude="~/twitter-bootstrap/css/bootstrap-grid.css"/>
</head>
<body>
    <div class="navbar navbar-expand bg-dark" role="navigation">
        <a class="navbar navbar-brand" style="color:white; padding: 10px;font-family: Roboto">SPORT STORE</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>

        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
