@model ProductListViewModel
<h1 class="text-center">Welcome to my sport store!</h1>
<div class="text-center">
    @foreach(Product item in Model.Products)
    {
        <div>
            <h3>@item.Name</h3>
            @item.Description
            <h4>@item.Price.ToString("c")</h4>
        </div>
    }
</div>
<div page-model="@Model.PagingInfo" page-action="List"></div>